<ul class="nav nav-pills">
    <li n:class="$presenter->isLinkCurrent('Setting:log', ['slug' => 'user']) ? active"><a n:href="Setting:log, slug => user">Uživatelské události</a></li>
    <li n:class="$presenter->isLinkCurrent('Setting:log', ['slug' => 'system']) ? active"><a n:href="Setting:log, slug => system">Systémové události</a></li>
</ul>