.well .status {
    margin-bottom: 5px;
}

.well .status > .label {
    width: 100%;
    display: block;
    padding: 5px;
    font-size: 13px;
    font-weight: normal;
}

.payment-helper {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}

.form-group.required .control-label:after {
    content: "*";
    color: red;
    font-weight: bold;
}